name: CPP Test Workflow 

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: 
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Setup BOOST
      run: sudo apt install -y libboost-all-dev
    - name: compile tests
      run: make tests
    - name: run tests
      run: ./test_client.out